.container {
    padding-left: 112px;
    padding-right: 112px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-bottom: 100px;
    margin-top: 80px;
  }
  
  .title_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 320px;
  }
  
  .title {
    font-size: 36px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: center;
    font-family: Anzeigen-Grotesk;
    text-transform: uppercase;
    color: var(--main-color);
  }
  
  .title_box p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 36px;
  }
  
  .list .item:nth-child(2) {
    background-color: var(--background-color-about-1);
  }
  
  .list .item:nth-child(3) {
    background-color: var(--background-color-about-2);
  }
  
  .list .item:nth-child(4) {
    background-color: var(--background-color-about-3);
  }
  
  .list {
    display: none;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1258px;
  }
  
  .item {
    background: var(--accent-color);
    width: 596px;
    height: 293px;
    padding: 48px;
    border-radius: 24px;
  }
  
  .item__title {
    font-family: Anzeigen-Grotesk;
    font-size: 40px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.01em;
    text-align: left;
    color: var(--white);
    pointer-events: none;
    text-transform: uppercase;
    width: 500px;
  }
  
  .item__text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.01em;
    text-align: left;
    color: var(--white);
    margin-top: 40px;
    pointer-events: none;
  }
  
  .carouselContainer {
    width: 320px;
    margin: 0 auto;
  }
  
  .carouselContainer .item {
    width: 320px;
    height: 253px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .item_2 {
    background-color: var(--background-color-about-1);
  }
  
  .item_3 {
    background-color: var(--background-color-about-2);
  }
  
  .item_4 {
    background-color: var(--background-color-about-3);
  }
  
  .carouselContainer .item__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  
  .carouselContainer .item__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.01em;
  }
  
  .carouselContainer div:nth-child(1) {
    position: relative;
    margin: 0;
    overflow: visible !important;
  }
  
  @media screen and (min-width: 768px) {
    .list {
      display: flex;
    }
  
    .carouselCont {
      display: none;
    }
  
    .title_box {
      width: 584px;
    }
  
    .title {
      font-size: 48px;
      line-height: 37px;
    }
  
    .title_box p {
      font-size: 24px;
      line-height: 33px;
      margin-top: 16px;
      margin-bottom: 48px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .title_box {
      width: 700px;
    }
  
    .title {
      font-size: 56px;
      line-height: 44px;
    }
  
    .title_box p {
      font-size: 24px;
      line-height: 29px;
      margin-top: 24px;
      margin-bottom: 64px;
    }
  }
  
  .slider_section {
    padding: 20px;
  }
  
  .slider_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .slider_item {
    height: 200px;
    background-color: var(--slider-point);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  