
.container {
  padding-left: 112px;
  padding-right: 112px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  margin-bottom: 100px;

}


.title_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 320px;

}


.title {
    font-size: 36px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: center;

    font-family: Anzeigen-Grotesk;
    text-transform: uppercase;
    color:  #222222;

}

.title_box p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: center;

    margin-top: 16px;
    margin-bottom: 36px;

}

.list .item:nth-child(2) {
    background-color: #222222;
}

.list .item:nth-child(3) {
    background-color: #444444;
}

.list .item:nth-child(4) {
    background-color: #808080;
}


/* box */

.list {
    display: grid;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1258px;

}

.item {
    background: #ED4B5E;
    /* padding: 48px; */

    width: 596px;
    height: 293px;
    padding: 48px;
    border-radius: 24px;
    /* gap: 40px; */
}

.item__title {
    font-family: Anzeigen-Grotesk;
    font-size: 40px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #FFFFFF;
    pointer-events: none;
    text-transform: uppercase;
    width: 500px;
}

.item__text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #FFFFFF;
    margin-top: 40px;
    pointer-events: none;

}


/* Tablet */
@media screen and (min-width: 768px) {
    .title_box {
        width: 584px;    
    }

    .title {
        font-size: 48px;
        line-height: 37px;
    }

    .title_box p {
        font-size: 24px;
        line-height: 33px;
    
        margin-top: 16px;
        margin-bottom: 48px;
    }

}
    
    
/* Desktop */
@media screen and (min-width: 1200px) {
    .title_box {
        width: 700px;    
    }

    .title {
        font-size: 56px;
        line-height: 44px;
    }

    .title_box p {
        font-size: 24px;
        line-height: 29px;
    
        margin-top: 24px;
        margin-bottom: 64px;
    }

}
















/* SliderSection.css */

.slider_section {
    padding: 20px;
  }
  
  .slider_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Змініть кількість стовпців за потребою */
    gap: 10px; /* Відступ між слайдами */
  }
  
  .slider_item {
    height: 200px; /* Встановіть висоту слайдів за потребою */
    background-color: #ddd; /* Замініть на власний фон слайдів */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }