.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-left: 112px;
  padding-right: 112px;
  margin-top: 39px;
}

.burger_menu {
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
  z-index: 6;
}

.burger_button {
  font-size: 20px;
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.close_button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: inherit;
  border: none;
  padding: 0;
  transition: 0.3s linear;
}

.close_button img {
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.close_button:hover,
.close_button:focus {
  transform: scale(1.01);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 62px;
}

li {
  font-size: 18px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.3s linear;
}

.logo_link {
  cursor: pointer;
}

.logo_link:hover .logo,
.logo_link:focus .logo {
  transform: scale(1.05);
}

.logo {
  transition: 0.3s linear;
}

.list li {
  font-family: Anzeigen-Grotesk;
  text-transform: uppercase;
  color: var(--main-color);
  margin-top: 24px;
  font-size: 24px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.01em;
  text-align: center;
}

li:hover,
li:focus {
  color: var(--accent-color);
}

/* Tablet */
@media screen and (min-width: 768px) {
  ul {
    margin-top: 78px;
  }

  .list li {
    font-size: 40px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 36px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  ul {
    margin-top: 100px;
  }

  .list li {
    font-size: 64px;
    font-weight: 500;
    line-height: 51px;
    margin-top: 48px;
  }
}