/* Mobile */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.logo_link{
    cursor: pointer;
    
}

.logo_link:hover .logo, .logo_link:focus .logo{
    transform: scale(1.05);
}

.logo {
    transition: 0.3s linear;
}

.line {
    width: 100%;
    height: 1px;
    border-top: 1px solid #ED4B5E;
    

}


.box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    margin-top: 32px;


}

.copyright {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #222222;


}