.formContainer {

  }
  
  .formItem {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }
  
  .formInput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  
  .formTextarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    resize: vertical;
  }
  
  .formButton {
    width: 443px;
    height: 80px;
    padding: 24px, 32px, 24px, 32px;
    border-radius: 24px;
    gap: 10px;
    background: #ED4B5E;

    
    cursor: pointer;

    font-family: Anzeigen-Grotesk;
    font-size: 40px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: center;

  }

.ant-btn.ant-btn-primary.css-dev-only-do-not-override-1rqnfsa:hover {
      background-color: #ff0000 !important;
      color: #000 !important;
  }


  
