/* Mobile */
.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}

.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }

.logo_link{
    cursor: pointer;
    
}

.logo_link:hover .logo, .logo_link:focus .logo{
    transform: scale(1.05);
}

.logo {
    transition: 0.3s linear;
}

.menu__full_box {
    cursor: pointer;
    position: relative;
    transition: all 0.3s linear;
}

.menu_hover {
    display: none;
    transition: all 0.3s linear;
}


.menu__full_box:hover .menu_hover, .menu__full_box:focus .menu_hover {
    display: flex;
    transform: scale(1.05);
}

.menu__full_box:hover .menu, .menu__full_box:focus .menu {
    display: none;
}




/* Tablet */
@media screen and (min-width: 768px) {




  }
  



/* Desktop */
@media screen and (min-width: 1280px) {
    .container {
        margin-top: 37px;
        padding-left: calc(( 100vw - 1280px ) / 2);
        padding-right: calc(( 100vw - 1280px ) / 2);
        width: 100%;
        /* width: 1200px; */
    }
  }