

.container {
    width: 100%;
    height: 494px;
    background-color: #FFFDF9;   
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 80vh;
    z-index: 3;
}

.bullon_2 {
    position: absolute;
    width: 177px;
    height: 180px;
    top: 272px;
    right: -50px;
    rotate: -16;
    overflow: hidden;

    
}

.bullon_1 {
    position: absolute;
    Width: 155px;
    Height: 157px;
    top: 124px;
    left: -50px;
    rotate: 155px;
}


.title_box {
    display: flex;
    /* width: 770px; */
}

.title {
    font-family: Anzeigen-Grotesk;
    font-size: 40px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: center;
    text-transform: uppercase;
    z-index: 3;

    color: #ED4B5E;
    width:319px;
    margin-top: 212px;

}

.title span {
    color: #222222;
}




/* Tablet */
@media screen and (min-width: 768px) {

    .container {
        height: 698px;
    }

    .bullon_2 {
        width: 306px;
        height: 311px;
        top: 260px;
        right: 29px; 
        rotate: -9;   
    }
    
    .bullon_1 {
        Width: 272px;
        Height: 272px;
        top: 124px;
        left: -80px;
    }

    .title {
        font-family: Anzeigen-Grotesk;
        font-size: 64px;
        font-weight: 500;
        line-height: 51px;
        letter-spacing: -0.01em;
        text-align: center;
        text-transform: uppercase;
        z-index: 3;
    
        color: #ED4B5E;
        width:484px;
        margin-top: 247px;

   
    }


}




/* Desktop */
@media screen and (min-width: 1200px) {
    .container {
        height: 800px;
    }

    .bullon_2 {
        width: 460px;
        height: 468px;
        top: 339px;
        right: 23px;    
    }
    
    .bullon_1 {
        Width: 397px;
        Height: 404px;
        top: 118px;
        left: 67px;
    }

    .title {
   
        font-size: 88px;
        font-weight: 500;
        line-height: 79px;
        width:770px;
    
    }



}