

.container {
    width: 100%;
    height: 494px;
    background-color: #FFFDF9;   
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 80vh;
    z-index: 3;
    animation: floatAnimation 3s ease-in-out infinite;
}

.bullon_2 {
    position: absolute;
    width: 230px;
    height: 230px;
    bottom: 0px;
    right: -65px;
    /* transform: rotate(-40deg); */
    overflow: hidden;
    

    
}

.bullon_1 {
    position: absolute;
    Width: 254px;
    Height: 254px;
    top: 44px;
    left: -97px;
    rotate: 155px;
    /* background-color: #ED4B5E;
    padding: 0; */
}

@keyframes floatAnimation {
    0% {
      transform: translateY(0) ;
      opacity: 0.5;
    }
    50% {
      transform: translateY(-40px);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 0.5;
    }
  }


.title_box {
    display: flex;
}

.title {
    font-family: Anzeigen-Grotesk;
    font-size: 40px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: center;
    text-transform: uppercase;
    z-index: 3;

    color: #ED4B5E;
    width:319px;
    margin-top: 212px;

}

.title span {
    color: #222222;
}




/* Tablet */
@media screen and (min-width: 768px) {

    .container {
        height: 698px;
    }

    .bullon_2 {
        width: 446px;
        height: 451px;
        bottom: -89px;
        right: -111px; 
        rotate: -9;   
    }
    
    .bullon_1 {
        Width: 370px;
        Height: 370px;
        top: 97px;
        left: -148px;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 120vw;
        height: 80vh;
        z-index: 3;
        animation: floatAnimation 3s ease-in-out infinite;
    }
    

    .title {
        font-family: Anzeigen-Grotesk;
        font-size: 64px;
        font-weight: 500;
        line-height: 51px;
        letter-spacing: -0.01em;
        text-align: center;
        text-transform: uppercase;
        z-index: 3;
    
        color: #ED4B5E;
        width:484px;
        margin-top: 247px;

   
    }


}




/* Desktop */
@media screen and (min-width: 1280px) {
    .container {
        height: 800px;
    }

    .bullon_2 {
        width: 560px;
        height: 568px;
        bottom: 0px;
        right: calc(50vw - 734px);
        transform: rotate(-9deg) !important;
           
    }
    
    .bullon_1 {
        Width:567px;
        Height: 574px;
        top: 58px;
        left: calc(50vw - 734px);
        transform: rotate(-28deg);
    }

    .title {
   
        font-size: 88px;
        font-weight: 500;
        line-height: 79px;
        width:770px;
    
    }



}