.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 80px;
    /* overflow: hidden; */
}

.title {
    font-size: 56px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-align: center;

    font-family: Anzeigen-Grotesk;
    text-transform: uppercase;
    color:  var(--accent-color);  

    margin-bottom: 24px;
    margin-top: 80px;
}

.list__desk {
    display: flex;
    gap: 26px;
    display: none;

    
}

.item__desk {
    width: 388px;
    height: 277px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 36px;
    padding-bottom: 36px;
    border-radius: 24px;
    background: #FFEFF0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

.item__review {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: -0.01em;
    text-align: left;
    color: var(--main-color);
    /* display: flex; */

}

.item__user {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.01em;
    text-align: left;
    color: var(--main-color);
    position: relative;
    margin-left: 32px;

}

.item__user::before {
    content: '';
    background-image: url('../../assets/images/tag-user.png');
    background-size: cover;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -32px;

}

.item__review span {
    position: relative;
}

.item__review span::after {
    content: '';
    top: 0;
    position: absolute;
    right: -40px;
    width: 30px;
    height: 30px;
    background-image: url('../../assets//images/emojie.png');
    background-size: cover;

}

/* React Responsive Carousel Mobile---------------------------------------*/


.carouselContainerMob {
    width: 330px; 
    margin: 0 auto; 
    margin-top: 36px;
}

.carouselCont {
    position: relative;
}

.carouselContainerMob .item__desk{
    width: 320px;
    height: 229px;
    padding: 24px;
    border-radius: 24px;
    
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.carouselContainerMob .item__review {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.01em;
    text-align: left;    

}

.carouselContainerMob .item__user {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.01em;
    



}

.carouselContainerMob div:nth-child(1) {
    position: relative;
    margin: 0;
    overflow: visible !important;
}


/* ----------------------------------------------------------------- */



/* React Responsive Carousel Tablet---------------------------------------*/


.carouselTablet {
    width: 800px; 
    margin: 0 auto; 
    margin-top: 36px;
    position: relative!important;

    display: none;
}

.carouselContainerTablet {
    width: 800px;
    
}

.carouselContainerTablet div {
    overflow: visible !important;

}

.carouselCont {
    position: relative;
}

.carouselContainer .item__desk{
    width: 346px;
    height: 220px;
    border-radius: 24px;
    /* margin-right: 24px; */
    
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.carouselContainer .item__review {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.01em;
    text-align: left;    

}

.carouselContainer .item__user {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.01em;
    



}

.carouselContainerTablet button {
    position: absolute !important;
    top: 304px !important;
    width: 56px;
    height: 56px;
    border: 1px solid rgba(210, 210, 210, 1)!important;
    border-radius: 180px;
    background: rgba(255, 255, 255, 1) !important;
    display: flex;
    justify-content: center;
    align-items: center;

}

.carouselContainerTablet div div {
   overflow: hidden!important;

}

.carouselContainerTablet button:nth-child(1) {
    left: calc(50% - 56px - 12px) !important;
    /* background: blue !important; */
}

.carouselContainerTablet button:nth-child(1)::before {
   background-image: url(../../assets/images/arrow-right.svg) !important;
   background-size: cover;
   width: 24px;
   height: 24px;
   border: none!important;
}

.carouselContainerTablet button:nth-child(3) {
    right: calc(50% - 56px - 12px) !important;
}

.carouselContainerTablet button:nth-child(3)::before {
    background-image: url(../../assets/images/arrow-right.svg) !important;
    background-size: cover;
    transform: scaleX(-1);
    width: 24px;
    height: 24px;
    border: none!important;
 }

 .carouselContainerTablet li {
    min-width: 390px !important;
    width: 346px !important;
    margin-right: 24px!important;

 }

 .carouselContainerTablet ul {
    display: flex;
    align-items: flex-start;
 }



/* ----------------------------------------------------------------- */

/* Tablet */
@media screen and (min-width: 768px) {
    .carouselTablet {
        display: flex;
    }

    .carouselCont {
        display: none;
    }

    .container {
        margin-bottom: 80px;
    }

}


    
    
/* Desktop */
@media screen and (min-width: 1200px) {
    .list__desk {
        display: flex;
    }

    .carouselTablet {
        display: none;
    }

    .container {
        /* display: flex;
        flex-direction: row;
        justify-content: space-around; */
        padding-left: calc(( 100vw - 1200px ) / 2);
        padding-right: calc(( 100vw - 1200px ) / 2);
    }

    .container {
        margin-bottom: 200px;

    }


}