@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  position: relative;

  font-family: 'Inter', sans-serif;
  font-family: 'Manrope', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Gilroy-Bold', sans-serif;
  font-family: 'Gilroy-Heavy', sans-serif;
  font-family: 'Gilroy-Light', sans-serif;
  font-family: 'Gilroy-Medium', sans-serif;
  font-family: 'Gilroy-Regular', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Anzeigen-Grotesk";
  src: url("https://db.onlinewebfonts.com/t/9f6eb05cf4587ebc95acfbd41081a71b.eot");
  src: url("https://db.onlinewebfonts.com/t/9f6eb05cf4587ebc95acfbd41081a71b.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/9f6eb05cf4587ebc95acfbd41081a71b.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/9f6eb05cf4587ebc95acfbd41081a71b.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/9f6eb05cf4587ebc95acfbd41081a71b.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/9f6eb05cf4587ebc95acfbd41081a71b.svg#Anzeigen Grotesk W04 Regular")format("svg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



:root {
  --main-color: #222222;
  --extra-text-color: #565148;
  --accent-color: #ED4B5E;
  --extra-accent-color: #FFEFF0;
}



html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

li,
a {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}




